<form action="/search/" method="get">
	<table>
		<tr>
			<td><label for="pins">Number of Pins:</label></td>
			<td>
				<select name="pins">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="shape">Housing Shape:</label></td>
			<td>
				<select name="shape">
					{% for shape in site.connector_shapes %}
					<option value="{{ shape[0] }}">{{ shape[1] }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="color">Housing Color:</label></td>
			<td>
				<select name="color">
					{% for color in site.connector_colors %}
					<option value="{{ color[0] }}">{{ color[1] }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="keywords">Keywords:</label></td>
			<td><input type="text" name="keywords" size="25" placeholder="honda crankshaft position" /></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="submit">Search</button></td>
		</tr>
	</table>
</form>
